{% extends 'sipp/base.html' %}
{% load sipp_tags %}


{% block head_scripts %}
  <script src="https://jh-misc-files.s3.eu-west-2.amazonaws.com/graphing-library.js"></script>
{% endblock %}


{% block page_content %}
  <div class="col">
    <div class="card mb-3">
      <div class="card-header text-center text-white bg-dark d-flex justify-content-between">
        <a href="{% url 'sipp:index' %}" class="bi bi-arrow-left-square-fill"></a>
        <strong>{{ portfolio }} Investment Portfolio</strong>
        <a href="{% if profit_loss %}{% url 'sipp:graph-total-value' portfolio|lower %}{% else %}{% url 'sipp:graph-profit-loss' portfolio|lower %}{% endif %}" class="bi bi-repeat"></a>
      </div>
      <div class="card-body">
        <figure class="highcharts-figure">
          <div id="chart-container" style="height: 83vh"></div>
        </figure>
      </div>
    </div>
  </div>
{% endblock %}

{% block post_script %}<script type="text/javascript">
  Highcharts.chart('chart-container', {
    chart: { type: 'area', zoomType: 'x' },
    title: { text: undefined },
    series: [{
      type: 'line',
      name: 'Total',
      data: {{ portfolio_values|format_timeseries|safe }},
      tooltip: { pointFormat: '<span style="font-size:12px"><b>Portfolio Total: £{y}</b></span><br>' },
      color: '#000000',
      zIndex: 10
    }, {% for fund in fund_data %}{
      type: 'area',
      name: '{{ fund.fund_name }}',
      data: {{ fund.price_points|format_timeseries|safe }}
    }{% if not forloop.last %}, {% endif %}{% endfor %}],
    plotOptions: {
      line: {
        lineWidth: 3,
        marker: { enabled: false }
      },
      area: {
        stacking: 'normal',
        lineColor: '#666666',
        lineWidth: 1,
        marker: { enabled: false }
      }
    },
    tooltip: {
      shared: true,
      headerFormat: '<span style="font-size:12px"><b>{point.key}</b></span><br>'
    },
    xAxis: {
      type: 'datetime',
      min: '{{ start_date.isoformat }}',
      max: '{{ end_date.isoformat }}'
    },
    yAxis: {
      title: {
        text: '{% if profit_loss %}Profit/Loss{% else %}Portfolio Value{% endif %}, £',
        style: { fontSize: '1.25rem' },
      },
    },
    navigator: {
      enabled: true,
      maskFill: 'rgba(127, 127, 127, 0.2)',
      series: {
        data: {{ portfolio_values|format_timeseries|safe }},
        color: '#2caffe'
      },
      xAxis: {
        min: '{{ start_date.isoformat }}',
        max: '{{ end_date.isoformat }}'
      }
    }
  });
</script>{% endblock %}

